---
kind: asset
---

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: Georgia, Palatino, serif;
  font-size: 22px;
}

img {
  max-width: 80%;
}

a {
  text-decoration: none;
}

.missing {
  color: black !important;
  border-bottom-style: dashed !important;
}

a:link,
a:visited {
  color: #0951ce;
  border-bottom: 1px solid #0951ce;
}

a:hover {
  color: #4e6ff1;
  border-bottom-color: transparent;
}

#main {
  position: absolute;

  top: 2em;
  left: 280px;

  width: 40em;
}

#main h1 {
  font-size: 2.5em;
  font-weight: normal;

  line-height: 40px;

  letter-spacing: -1px;
}

#main h2 {
  font-size: 1.8em;
  font-weight: normal;
}

#main p {
  margin: 20px 0;
  line-height: 1.4em;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 1em;

  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  position: absolute;

  top: 40px;
  left: 20px;
  width: 200px;

  padding: 20px 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;
  font-size: 0.8em;
  line-height: 1.25em;
}

#sidebar h2 {
  text-transform: uppercase;

  font-size: 1em;

  color: #333;

  letter-spacing: 1px;

  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;

  margin: 20px 0;
}

#sidebar li {
  
}
